.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #cceeff, #a6d4f2);
  font-family: 'Segoe UI', sans-serif;
}

.login-box {
  background: #ffffff;
  padding: 40px 30px;
  width: 360px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #007bff;
  font-weight: 700;
}

.login-box input[type="text"],
.input-group input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.input-group {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  top: 40%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}


.login-box button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-box button:hover {
  background-color: #005fc0;
}

.login-error {
  color: #d32f2f;
  margin-bottom: 15px;
  font-weight: 500;
}



.login-bottom-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.login-bottom-links a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.login-bottom-links a:hover {
  text-decoration: underline;
}

